@charset "UTF-8";
.lb-main-page{
  width:100%;
  height:auto;
  background-color: red;
}
.left-side{
    width:250px;
    min-height:100vh;
    background-color: white;
}
.right-side{
    width: calc(100% - 250px);
    min-height:100vh;
    background-color: #fff;
}
.left-manu a{
  color: #CB3300;
}

.left-menu-item {
  color: #CB3300 !important;
}
.collapse-item{
  font-size: 14px;
}
#li-col-0 li,#li-col-1 li,#li-col-2 li,#li-col-3 li,#li-col-4 li,#li-col-5 li,#li-col-6 li{
  color: #C5721B !important;
}