@charset "UTF-8";
/* start not found page */
.notepage{
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	text-align: center;
}

.notepage .icon,.notepage h1{
	font-size: 80px;
}
.notepage h1{
	font-family: 'Alata',sans-serif;
}
/* end not found page */